
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
//-----------------------------------//

$color-1:     #74CCD2 !default;
//-----------------------------------//

$ease: cubic-bezier(0.560, 0.000, 0.265, 1.000);
$ease2: cubic-bezier(.77,.2,.05,1);

//-------------------- Dark --------------------//
$enable-dark: 		false !default; 
//-----------------------------------//